.app {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #f3f2ef;
  min-height: 100vh;
}

.app__body {
  padding: 0 15px;
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 450px) {
  .app__body {
    flex: 1;
    margin-right: 0;
    margin-left: 0;
  }
}
